@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700&display=swap");
@font-face {
  font-family: "Maragsa";
  src: url("../font/Maragsâ-Display.woff2") format("woff2");
}
:root {
  --white: #f4f4f4;
  --black: #050505;
}
* {
  outline: 1px solid #f00 !important;
}
body {
  background-color: black;
  border: none;
  padding: none;
  height: 500vh;
  margin: 0;
}
#sideNav {
  width: 30vw;
  height: 100vh;
  position: fixed;
  right: -4vw;
  top: 0;
  background: #000000;
  z-index: 1030;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5vw;
  /* align-items: center; */
}
.inter_font {
  font-family: "Inter";
  color: var(--white);
  line-height: 1.2;
  letter-spacing: -2px;
}
.mar_font {
  font-family: "Maragsa", "Perpetua", "Times New Roman", serif;
}

nav ul li {
  list-style: none;
  margin-bottom: 50px;
  padding: 0;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 0;
}
.circ1 {
  background-color: #218323;
}
.circ2 {
  background-color: #f27028;
}
.circ3 {
  background-color: #d27f9a;
}
.circ4 {
  background-color: #2a47a7;
}

#menuBtn {
  background-color: none;
  /* padding: 4px 8px 8px 8px; */
  line-height: 12px;
  position: fixed;
  right: 3vw;
  top: 3vh;
  z-index: 1030;
  cursor: pointer;
}

/* Message Text */
.title {
  font-size: 10rem;
  color: var(--white);
  /* align-items: center; */
  /* margin-top: 40vh; */
  display: flex; /* set display to flex */
  justify-content: center; /* center horizontally */
  align-items: center;
  height: 100vh;
}
.h2 {
  font-size: 10vw;
  color: var(--white);
  /* align-items: center; */
  padding-top: 10vh;
  display: flex; /* set display to flex */
  justify-content: center; /* center horizontally */
  align-items: center;
}
.navbar_logo {
  width: 5rem;
  height: 5rem;
}
.email_link {
  position: relative;
  text-decoration: none;
  color: var(--black);
  font-size: 1rem;
  letter-spacing: 0.5px;
  padding: 0 3px;
  z-index: 1003;
  animation: 1s ease-out 0s 1 leftAnimation;
}
.email_link:after {
  content: "";
  position: absolute;
  background-color: var(--black);
  height: 2px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}
.email_link:hover {
  color: var(--black);
}
.email_link:hover:after {
  width: 100%;
}
.circle {
  text-align: center;
  margin-top: 10%;
  font-size: 4rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: var(--black);
  text-align: center;
  line-height: 50px; /* center the text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  position: relative;
  margin-bottom: 1vh;
}
.nav_text {
  /* line-height: 89px; */
  padding-top: 21px;
  font-size: 2.5rem;
}
.nav_text1 {
  /* line-height: 89px; */
  padding-top: 21px;
  font-size: 2.5rem;
}
.nav_text1:hover {
  /* line-height: 89px; */
  padding-top: 21px;
  font-size: 2.5rem;
  color: #218323;
}
.nav_text2 {
  /* line-height: 89px; */
  padding-top: 21px;
  font-size: 2.5rem;
}
.nav_text2:hover {
  /* line-height: 89px; */
  padding-top: 21px;
  font-size: 2.5rem;
  color: #f27028;
}
.nav_text3 {
  /* line-height: 89px; */
  padding-top: 21px;
  font-size: 2.5rem;
}
.nav_text3:hover {
  /* line-height: 89px; */
  padding-top: 21px;
  font-size: 2.5rem;
  color: #d27f9a;
}
.nav_text4 {
  /* line-height: 89px; */
  padding-top: 21px;
  font-size: 2.5rem;
}
.nav_text4:hover {
  /* line-height: 89px; */
  padding-top: 21px;
  font-size: 2.5rem;
  color: #2a47a7;
}

.nav_num1 {
  position: absolute; /* make the letter position:absolute */
  top: -25%; /* adjust as needed */
  text-align: center;
  margin-top: 10%;
  font-size: 4rem;
}
.nav_num2 {
  position: absolute; /* make the letter position:absolute */
  top: -27%; /* adjust as needed */
  text-align: center;
  margin-top: 10%;
  font-size: 4rem;
}
.nav_num3 {
  position: absolute; /* make the letter position:absolute */
  top: -30%; /* adjust as needed */
  left: 30%;
  text-align: center;
  margin-top: 10%;
  font-size: 4rem;
}
.nav_num4 {
  position: absolute; /* make the letter position:absolute */
  top: -33%; /* adjust as needed */
  text-align: center;
  margin-top: 10%;
  font-size: 4rem;
}
article {
  color: var(--white);
}
.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent
    url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 1s infinite;
  opacity: 0.9;
  visibility: visible;
  z-index: 999;
}
@keyframes leftAnimation {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
  height: 15vh;
}

svg {
  position: absolute;
  /* top: 50%;
  left: 50%; */
  width: 20vw; /* set width to 20% of viewport width */
  animation: rotate 12s linear infinite; /* set rotation animation */
}

@keyframes rotate {
  from {
    transform: rotate(0deg); /* initial rotation angle */
  }
  to {
    transform: rotate(360deg); /* final rotation angle */
  }
}

.text_num1 {
  position: relative;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%) ;
  color: var(--white);
  font-size: 10vw;
  /* line-height: 1.38;
  vertical-align: bottom; */
}


.num_svg {
  width: 50vw;
  height: auto;
}
/* .custom-shape {
  background-color: #239f95;
  width: 15vw; 
  font-size: 15vh;
  color: var(--white);
  position: absolute;
  top: 0;
  left: 0;
  animation: rotate 8s linear infinite;
  clip-path: path("M130.194,0.888 C133.902,-0.211 137.849,-0.211 141.557,0.888 L204.293,19.476 C207.982,20.569 211.278,22.703 213.784,25.622 L256.693,75.591 C259.177,78.483 260.782,82.025 261.320,85.800 L270.661,151.359 C271.198,155.124 270.650,158.963 269.082,162.427 L241.833,222.637 C240.254,226.125 237.707,229.087 234.494,231.171 L179.438,266.874 C176.198,268.975 172.418,270.093 168.556,270.093 L103.195,270.093 C99.333,270.093 95.553,268.975 92.313,266.874 L37.257,231.171 C34.044,229.087 31.497,226.125 29.918,222.637 L2.669,162.427 C1.101,158.963 0.553,155.124 1.089,151.359 L10.431,85.800 C10.969,82.025 12.574,78.483 15.057,75.591 L57.967,25.622 C60.473,22.703 63.769,20.569 67.458,19.476 L130.194,0.888 Z");
}
.wrapper {
  position: relative;
  width: 15vw;
}
.num_marker {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.circle_marker {
  width: 8vw;
  height: 8vw;
  transform: rotate(30deg);
  text-align: center;
  line-height: 50px; /* center the text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 1vh;
  transform: rotate(30deg);
}
.circ1_mark {
  background-color: #218323;
}
.nav_num1_wrap {
  position: absolute; /* make the letter position:absolute */
  transform: rotate(30deg);
  display: flex;
  font-size: 12vw;
  justify-content: center;
  align-items: center;
  position: relative;
  line-height: 1.38;
  margin-bottom: 75%;
  margin-left: 30%;
}
.title_page {
  height: 100vh;
}
.intro_quote {
  height: 100vh;
  
  font-size: 10vw;
}
.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.quote_author {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-size: 3vw;
  /* padding-bottom: 40vh; */
}
.excerpt {
  font-size: 2rem;
  padding-left: 10vw;
  padding-right: 30vw;
}
.credit_wallpaper {
  width: 100%;
  height: auto;
}
.disclaimer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10vw;
  padding-right: 10vw;
  font-size: 1vw;
  color: white;
  opacity: 0.5;
}
.credits {
  font-family: 'JetBrains Mono', monospace;
  letter-spacing: -2px;
  text-align: center;
  padding-top: 100vh;
  padding-bottom: none;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* width: 100vw; */
  height: 20px;
  margin-top: 30vh;
  padding-bottom: 20vh;
}
.credit_name {
  font-weight: bold;
  letter-spacing: -1px;
  font-size: 2rem;
}
.text {
  text-align: center !important;
}
.navlink {
  position: relative;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  letter-spacing: 0.5px;
  padding: 0 3px;
  z-index: 1003;
  animation: 1s ease-out 0s 1 leftAnimation;
}
.navlink:after {
  content: "";
  position: absolute;
  background-color: white;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}
.navlink:hover {
  color: #ffffff;
}
.navlink:hover:after {
  width: 100%;
}
a {
  color: #ffffff;
  text-decoration: none;
}
.jpean {
  font-size: 3rem
}
.outro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 25vw;
  padding-right: 25vw;
  font-size: 1.3vw;
  color: white;
  opacity: 0.5;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 900;
}
.email_add {
  color: var(--black);
  background-color: rgb(253, 190, 15);
  width: 30vw;
  height: 10vh;
}
.block {
  width: 100%;
  height: 100vh;
  display:grid;
  grid-template-areas:'main';
  place-items:center;
}
.dot {
  grid-area:main;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(255,194,0);
  z-index: 30;
/*   opacity: 0; */
}
.quote {
  text-align: center;
  z-index: 300;
  grid-area:main;
  font-size: 4rem;
  font-weight: 900;
  color: rgb(255,194,0);
  mix-blend-mode:difference;
}
.author {
   display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
/*   position: sticky; */
  z-index: 300;
  position: absolute;
/*   left: 50%; */
  /* bottom: 10%; */
  font-size: 1rem;
  color: #f4f4f4;
/*   padding-bottom: 30vh; */
}
.quote_container {
  height: 300vh;
}
.confetti {
  width: 50px;
}